{% extends 'gifcol_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}
        <title>Загрузить файл | Meme Archive</title>
        <body style="background-image: url(https://source.unsplash.com/1600x900/?lego);background-size:cover;">
        <form method="post" enctype="multipart/form-data" style="padding-left:15px;">
            {% csrf_token %}
            <br>
            <div class="form-box row">
            <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.title|as_crispy_field }}
                            </div>
                            <div class="col-md-12">
                                {{ form.description|as_crispy_field }}
                            </div>
                            <div class="col-md-12">
                                <p class="control-label" id="textCounter" style="font:15px Arial;">Не более 200 символов</p>
                            </div>
                            {% if request.user.is_superuser %}
                            <div class="col-md-12">
                            {{ form.published|as_crispy_field }}
                            </div>
                            {% endif %}
                            <div class="col-md-12">
                                <button id="submitbtn" type="submit" class="btn btn-primary">Сохранить изменения</button>
                            </div>
                        </div>
                    </div>
                <div class="col-md-5">Превью записи:<br><img style="border-radius:10px;" width="90%" src="{{ form.instance.file.url }}"></div>
            </div>
        </div>
        </form>
    {%endif%}
{% endblock %}
