{% extends 'gifcol_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}
        <title>Загрузить файл | Meme Archive</title>
        <body style="background-image: url(https://source.unsplash.com/1600x900/?lego);background-size:cover;">
        <form method="post" enctype="multipart/form-data" style="padding-left:15px;">
            {% csrf_token %}
            <br>
            <div class="form-box row">
                <div class="col">

                </div>
                <div class="w-100" style="padding-bottom:0.5em;"></div>
                <div class="col">
                    {{ form.title|as_crispy_field }}
                </div>
                <div class="w-100" style="padding-bottom:0.5em;"></div>
                <div class="col">
                    {{ form.description|as_crispy_field }}
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <p class="control-label" id="textCounter" style="font:15px Arial;">Не более 200 символов</p>
                </div>
                <div class="w-100"></div>
                <div class="col" id="id_media_img">
                    {{ form.file|as_crispy_field }}
                </div>
                <div class="w-100"></div>
                <div class="col" id="id_media_gif">

                </div>
                <div class="w-100"></div>
                <div class="col" id="id_media_video">

                </div>
                <div class="w-100"></div>
                <div class="col" id="id_media_link">
                    {{ form.medialink|as_crispy_field }}
                </div>
                <div class="w-100" style="padding-bottom:2%;"></div>
                <div class="col">
                    <button id="submitbtn" type="submit" class="btn btn-primary">Загрузить файл</button>
                </div>
            </div>
        </form>
        <script>
            //text limit for text area
            $(document).ready(function() {
                $('#id_desc').on('input propertychange', function() {
                    CharLimit(this, 200);
                });
            });

            function CharLimit(input, maxChar) {
                var len = $(input).val().length;
                $('#textCounter').text(maxChar - len + ' символов осталось');
                if(len > maxChar) {
                    $(input).val($(input).val().substring(0, maxChar));
                    $('#textCounter').text(0 + ' символов осталось');
                }
            }
            //text limit for text area
            //Так как select по умолчанию = gif, то скрываем другие поля
            $(document).ready(function() {
                $('#id_media_img_temp').hide();
                $('#id_media_video').hide();
                $('#id_media_link').hide();
            });

            //показываем и скрываем поля динамически в зависимости от значения в поле Select
            $("#id_filetype").change(function() {
                if($(this).val() == "gif") {
                    $('#id_media_gif').show();
                } else {
                    $('#id_media_gif').hide();
                    $('#id_media_img_temp').hide();
                    $('#id_media_video').hide();
                    $('#id_media_link').hide();
                }
                if($(this).val() == "img") {
                    $('#id_media_img_temp').show();
                } else {
                    $('#id_media_img_temp').hide();
                }
                if($(this).val() == "video") {
                    $('#id_media_video').show();
                } else {
                    $('#id_media_video').hide();
                }
                if($(this).val() == "link") {
                    $('#id_media_link').show();
                } else {
                    $('#id_media_link').hide();
                }
            });
        </script>
    {%endif%}
{% endblock %}