{% extends 'gifcol_app/base.html' %}
{% block content %}

    <div class="masonrygal bordered">
        {% for meme in imgposts %}
            <div class="brick">
                <div class="hvrbox">
                    <img src="{{meme.file.url}}">
                    <div class="hvrbox-layer_top">
                        <div style="float:right;" id="myBtn{{ forloop.counter }}" class="hvrbox-zoom">
                            <i style="font-size:24pt;" class="fas fa-search"></i>
                        </div>
                        <div class="hvrbox-fav">
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% for meme in imgposts %}
        <!-- The Modal -->
        <div id="myModal{{ forloop.counter }}" class="modal">
            <!-- Modal content -->
            <div class="modal-content" style="width:900px;">
                <span style="padding-bottom:15px;" class="close-btn{{ forloop.counter }}" id="close-span">
                  <button>Вернуться</button>
                </span>
                <div class="row" align="left">
                    <div class="col-sm-8">
                        <img width="100%" height="100%" src="{{ meme.file.url }}">
                    </div>
                    <div class="col-sm-4">
                        <a href="#">
                            Добавить в избранное <i class="fas fa-star"></i>
                        </a>
                        {%if Meme.title%}
                            <br>
                            Название: {{ meme.title }}
                        {%endif%}
                        {%if meme.description %}
                            <br>
                            Описание: {{ meme.description }}

                        {%endif%}
                        <br>
                        Загрузил:
                        {%if user.userprofile.avatar%}
                            <img width="20" height="20" src="{{user.userprofile.avatar.url}}">
                        {%endif%}
                        <a href="user/{{mediamodel.author}}">{{mediamodel.author}}</a>
                        <br>
                        Дата загрузки: {{Meme.created_at}}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- Цикл для передачи номера объекта в цикле в номер кнопки для PopUp окна -->

    <script>
        {% for meme in imgposts %}
            // Get the modal
            var modal{{ forloop.counter }} = document.getElementById("myModal{{ forloop.counter }}");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn{{ forloop.counter }}");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close-btn{{ forloop.counter }}")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function() {
                modal{{ forloop.counter }}.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal{{ forloop.counter }}.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal{{ forloop.counter }}) {
                    modal{{ forloop.counter }}.style.display = "none";
                }
            }
        {% endfor %}
    </script>
{% endblock %}