{% load static %}
<link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/animated-masonry-gallery.css' %}"/>
<script type="text/javascript" src="{% static 'js/jquery-2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/animated-masonry-gallery.js' %}"></script>


<div id="gallery-content">
    <div id="gallery-content-center" style="position: relative; overflow: hidden; height: 1200px;" class="gallery-content-center-full isotope">
        <a class="example-image-link" href="_assets/1.jpg" data-lightbox="example-set" data-title="pic1"><img class="example-image" src="_assets/1.jpg" class="all landscape isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(620px, 420px, 0px) scale3d(1, 1, 1); opacity: 1;" alt=""/></a>
        <a class="example-image-link" href="_assets/2.jpg" data-lightbox="example-set" data-title="pic1"><img class="example-image" src="_assets/2.jpg" class="all landscape isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 422px, 0px) scale3d(1, 1, 1); opacity: 1;" alt=""/></a>
        <a class="example-image-link" href="_assets/3.jpg" data-lightbox="example-set" data-title="pic1"><img class="example-image" src="_assets/3.jpg" class="all landscape isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(310px, 422px, 0px) scale3d(1, 1, 1); opacity: 1;" alt=""/></a>
        <a class="example-image-link" href="_assets/4.jpg" data-lightbox="example-set" data-title="pic1"><img class="example-image" src="_assets/4.jpg" class="all landscape isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(620px, 420px, 0px) scale3d(1, 1, 1); opacity: 1;" alt=""/></a>
        <a class="example-image-link" href="_assets/5.jpg" data-lightbox="example-set" data-title="pic1"><img class="example-image" src="_assets/5.jpg" class="all landscape isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 422px, 0px) scale3d(1, 1, 1); opacity: 1;" alt=""/></a>
        <a class="example-image-link" href="_assets/6.jpg" data-lightbox="example-set" data-title="pic1"><img class="example-image" src="_assets/6.jpg" class="all landscape isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(310px, 422px, 0px) scale3d(1, 1, 1); opacity: 1;" alt=""/></a>
        <a class="example-image-link" href="_assets/7.jpg" data-lightbox="example-set" data-title="pic1"><img class="example-image" src="_assets/7.jpg" class="all landscape isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(620px, 420px, 0px) scale3d(1, 1, 1); opacity: 1;" alt=""/></a>
        <a class="example-image-link" href="_assets/8.jpg" data-lightbox="example-set" data-title="pic1"><img class="example-image" src="_assets/8.jpg" class="all landscape isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 422px, 0px) scale3d(1, 1, 1); opacity: 1;" alt=""/></a>
        <script src="dist/js/lightbox.min.js"></script>
    </div>
</div>