{% extends 'gifcol_app/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Гифки | Meme Archive</title>
{% endblock %}

{% block content %}
<form class="text-center" action="{% url 'search_results' %}" method="get">
    <input class="searchbox" name="q" type="search" placeholder="Поиск по записям...">
</form>
<br>
<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a style="font-size:16pt;" class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">Все записи</a>
  </li>
  <li style="margin-left:2em;" class="nav-item">
    <a style="font-size:16pt;" class="nav-link" id="pills-tags-tab" data-toggle="pill" href="#pills-tags" role="tab" aria-controls="pills-tags" aria-selected="false">Теги</a>
  </li>
  <li style="margin-left:2em;" class="nav-item">
    <a style="font-size:16pt;" class="nav-link" id="pills-users-tab" data-toggle="pill" href="#pills-users" role="tab" aria-controls="pills-users" aria-selected="false">Пользователи</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
      <div class="masonrygal bordered">
        {% for meme in memes %}
            <div class="brick">
                <div class="hvrbox">
                    <img src="{{ meme.file.url }}">
                    <div class="hvrbox-layer_top">
                        <div style="float:right;" id="myBtn{{ forloop.counter }}" class="hvrbox-zoom">
                            <i style="font-size:24pt;" class="fas fa-search"></i>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="hvrbox-fav">
                            {% if meme.bookmarked %}
                            <a href="{% url 'bookmark_post' id=meme.id%}"><i title="В избранном" color="white" class="fas fa-star"></i></a>
                        {% else %}
                            <a href="{% url 'bookmark_post' id=meme.id%}"><i title="Добавить в избранное" color="white" class="far fa-star"></i>
                            </a>
                        {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% for meme in memes %}
        <!-- The Modal -->
        <div id="myModal{{ forloop.counter }}" class="modal">
            <!-- Modal content -->
            <div class="modal-content" style="max-width:60%;height:auto;">
                <span style="padding-bottom:15px;" class="close-btn{{ forloop.counter }}" id="close-span">
                  <button style="padding:5px;">Вернуться</button>
                </span>

                <div class="row">
                    <div class="col-sm-8"><img class="img-fluid" src="{{meme.file.url}}"></div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                {% if request.user.is_superuser %}
                                {% if not meme.published %}
                                    <a href="{% url 'edit_mediafile' pk=meme.pk %}">
                                        <button id="submitbtn" type="submit" class="btn btn-primary">Опубликовать запись!</button>
                                    </a>
                                {% endif %}
                                {% endif %}
                            </div>
                            {% if user.is_authenticated %}
                            <div class="col-sm-12">
                                {% if meme.bookmarked %}
                                    <a href="{% url 'bookmark_post' id=meme.id%}">В избранном <i class="fas fa-star"></i></a>
                                {% else %}
                                    <a href="{% url 'bookmark_post' id=meme.id%}">
                                        Добавить в избранное <i class="far fa-star"></i>
                                    </a>
                                {% endif %}
                            </div>
                            {% endif %}

                            {% if meme.published %}
                            {% if request.user ==  meme.author%}
                            <div class="col-sm-12">
                                <a href="{% url 'edit_mediafile' pk=meme.pk %}">Изменить запись
                                    <i class="far fa-edit"></i>
                                </a>
                            </div>
                            {% endif %}
                            {% endif %}
                            <div style="word-wrap:break-word;overflow-wrap:break-word;" class="col-sm-12">
                                {%if meme.title%}
                                    Название: {{meme.title}}{%endif%}
                                {%if meme.description %}
                                <br>
                                    Описание: {{meme.description }}
                                {%endif%}
                            </div>
                            <div class="col-sm-12">
                                Загрузил:
                                {%if user.avatar%}
                                <img width="20" height="20" src="{{user.avatar.url}}">
                                {%endif%}
                                <a href="/user/{{meme.author}}">
                                {{meme.author}}
                                </a>
                            </div>
                            <div class="col-sm-12">
                                Дата загрузки: {{meme.created_at}}
                            </div>
                            <div class="col-sm-12">
                                {%if meme.tags %}
                            Теги:
                                {% for tag in meme.tags.published %}
                                    <a href="{% url 'tag_link' tag_link=tag.title %}" class="badge badge-success" style="padding:5px;margin:3px;">
                                        {{ tag }}
                                    </a>
                                {% endfor %}
                            {%endif%}
                                <br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
      <!-- Цикл для передачи номера объекта в цикле в номер кнопки для PopUp окна -->
  </div>
  <div class="tab-pane fade" id="pills-tags" role="tabpanel" aria-labelledby="pills-tags-tab" style="margin-left:30%;">
      {% for tag in tags %}
        <a href="{% url 'tag_link' tag_link=tag.title %}" class="badge badge-success" style="padding:5px;margin:3px;font-size:14pt;">
            {{ tag.title }}
        </a>
      {% endfor %}
  </div>
  <div class="tab-pane fade" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">
      <h3 style="margin-left:3.5em;">Всего зарегистрировано {{userscount}} пользователей</h3><br>

            <div class="row text-center">
                {% for user in users %}
                <div class="col-sm-2">
                    {%if user.avatar%}
                    <img width="96" height="96" src="{{user.avatar.url}}"><br>
                    {%endif%}
                    <a href="/user/{{user.username}}">{{user.username}}</a> ({{userpostcount}})
                </div>
                {% endfor %}
            </div>

  </div>
</div>
<br>

    <script>
        {% for meme in memes %}
            // Get the modal
            var modal{{ forloop.counter }} = document.getElementById("myModal{{ forloop.counter }}");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn{{ forloop.counter }}");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close-btn{{ forloop.counter }}")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function() {
                modal{{ forloop.counter }}.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal{{ forloop.counter }}.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal{{ forloop.counter }}) {
                    modal{{ forloop.counter }}.style.display = "none";
                }
            }
        {% endfor %}
    </script>
{% endblock %}