{% extends 'gifcol_app/base.html' %}

{% block content %}
{% for meme in tag_objects %}
<div id="myModal{{ forloop.counter }}" class="modal">
            <!-- Modal content -->
            <div class="modal-content" style="width:900px;">
                <span style="padding-bottom:15px;" class="close-btn{{ forloop.counter }}" id="close-span">
                  <button>Вернуться</button>
                </span>
                <div class="row" align="left">
                    <div class="col-sm-8">
                        <img width="100%" height="100%" src="{{ meme.file.url }}">
                    </div>
                    <div class="col-sm-4">
                        <a href="#">
                            Добавить в избранное <i class="fas fa-star"></i>
                        </a>
                        {%if Meme.title%}
                            <br>
                            Название: {{ meme.title }}
                        {%endif%}
                        {%if meme.description %}
                            <br>
                            Описание: {{ meme.description }}

                        {%endif%}
                        <br>
                        Загрузил:
                        {%if user.avatar%}
                            <img width="20" height="20" src="{{user.avatar.url}}">
                        {%endif%}
                        <a href="/user/{{meme.author}}">{{meme.author}}</a>
                        <br>
                        Дата загрузки: {{meme.created_at}}
                        <div class="row mb-3">
                            {%if meme.tags %}
                                {% for tag in meme.tags.published %}
                                    <a href="{% url 'tag_link' tag_link=Tag.title %}">
                                        <span style="border-color:red; border:1px solid; border-radius:5px; padding:5px;" class="mr-3">
                                            {{ tag }}
                                        </span>
                                    </a>
                                {% endfor %}
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
{% endblock %}